* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f2d492;
  min-height: 100vh;
  width: 100%;
}

button.vrh {
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #f29559;
  color: white;
  z-index: 1000;
}

.navbar {
  width: 100%;
  background-color: #283845;
  color: white;
  box-shadow: 0 4px 15px black;
}

.info-mail {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 5px;
  background: #f29559 url(/slike/mail.png) no-repeat center / 50%;
}

.info-mail:hover,
.mail-ikona:hover {
  background-image: url(/slike/mail_hover.png);
  transition: 0.3s;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
}

.logo-container img {
  width: 30%;
  height: auto;
}

.logo-container h1 {
  font-size: 2rem;
  color: #f29559;
}

.navbar hr {
  border: 0;
  height: 3px;
  background-color: #f29559;
  width: 60%;
  margin: 10px auto 0 auto;
}

.linkovi-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
}

.linkovi-container a {
  text-decoration: none;
  color: #f29559;
  font-size: 1.2rem;
  font-style: bold;
  padding: 10px 15px;
  border: 2px solid #f29559;
  border-radius: 10px;
}

.linkovi-container a:hover {
  background-color: #f29559;
  color: #283845;
  transition: 0.3s;
}

.dobrodosli-container {
  position: relative;
  height: 100vh;
  background: url(slike/dobrodosli_s2.png);
  background-size: cover;
}

.dobrodosli-main {
  background-color: #283845cc;
  position: absolute;
  width: 100%;
  height: 100%;
  height: 100vh;
  padding-right: 50%;
  padding-left: 10vh;
  padding-top: 15vh;
  color: white;
}

.dobrodosli_crta1,
.dobrodosli_crta2 {
  height: 2px;
  background-color: #f29559;
  border: 0;
  margin: 15px 0;
}

.dobrodosli_crta1 {
  width: 50%;
}

.dobrodosli_crta2 {
  width: 30%;
}

.dobrodosli-main h1 {
  font-size: 3rem;
  margin-bottom: 15px;
  font-style: bold;
}

.dobrodosli-main h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  font-style: normal;
}

.dobrodosli-main p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.dobrodosli-main button {
  padding: 15px;
  background-color: #f29559;
  border: 0;
  border-radius: 10px;
  margin: 20px 0;
}

.info-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 100px 15vh 100px 50px;
  background-color: #283845;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-container h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: #f29559;
}

.info-cont-linija1 {
  border: 0;
  height: 3px;
  background-color: #f29559;
  width: 30%;
  margin-bottom: 25px;
}

.info-cont-linija2 {
  position: absolute;
  right: 25px;
  bottom: 0;
  border: 0;
  height: 3px;
  background-color: #f29559;
  width: 30%;
  margin: 10px 0 0 0;
}

.info-container p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: white;
}

.djelatnici-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #283845;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 100px 15vh 100px 15vh;
}

h1.djelatnici-naslov {
  display: block;
  flex: 100%;
  font-size: 2.5rem;
  margin-bottom: 50px;
  color: #f29559;
  text-align: center;
}

.djelatnici-naslov-linija {
  border: 0;
  position: absolute;
  top: 170px;
  right: 60vh;
  height: 3px;
  background-color: #f29559;
  width: 30%;
  margin: 10px auto 50px auto;
}

.djelatnici-profil {
  max-width: 300px;
  margin: 20px 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #f29559;
}

.djelatnici-profil img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 100%;
}

.djelatnici-profil p {
  padding: 15px;
  font-size: 1.2rem;
  color: #283845;
}

.djelatnici-profil hr {
  border: 0;
  height: 3px;
  background-color: #283845;
  width: 50%;
  margin: 10px auto;
}

.mySlides {
  display: none;
  position: absolute;
}

.projekti-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #283845;
}

.projekti-container h1 {
  font-size: 2.5rem;
  color: #f29559;
  text-align: center;
  padding-top: 50px;
}

.projekti_slideshow-container {
  width: 60%;
  margin: 50px auto;
  position: relative;
}

.projekti_slideshow {
  display: none;
  position: relative;
  height: 500px;
  width: 100%;
}

.projekti_slideshow img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prije,
.poslije {
  cursor: pointer;
  position: absolute;
  width: 50px;
  background-color: #f29559cc;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  user-select: none;
  background-color: #f29559cc;
}

.prije {
  top: 50%;
  left: 0;
}

.poslije {
  top: 50%;
  right: 0;
}

.dot {
  display: none;
}

.projekti_slideshow_tekst {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #f2d492;
  color: #283845;
  padding: 10px;
  text-align: center;
}

.projekti-container h1 {
  font-size: 2.5rem;
  color: #f29559;
  text-align: center;
}

.projekt-kartica p {
  padding: 15px;
  font-size: 1.2rem;
  color: white;
  text-align: center;
}

.galerija-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #283845;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 15vh 100px 15vh;
}

.kontakt-container {
  position: relative;
  width: 100%;
  min-height: 50vh;
  background: url(slike/kontakt_s1.jpg);
  background-size: cover;
}

.kontakt {
  background-color: #283845cc;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
}

.kontakt hr {
  border: 0;
  height: 3px;
  background-color: #f29559;
  width: 30%;
}

.kontakt-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 50px;
  color: #283845;
  width: 100%;
  background-color: #f2d492;
  border-radius: 10px;
  margin: 25px 0;
  width: 40%;
  gap: 20px;
}

.mail-ikona {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 5px;
  background: #f29559 url(/slike/mail.png) no-repeat center / 50%;
  margin: 5px 0;
}

.mobitel-ikona {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 5px;
  background: #f29559 url(/slike/mob.png) no-repeat center / 50%;
  margin: 5px 0;
}

.mobitel-ikona:hover {
  background-image: url(/slike/mob_hover.png);
  transition: 0.3s;
}

.kontakt h1 {
  color: #f29559;
  margin-bottom: 15px;
}

footer {
  background-color: #283845;
  color: white;
  padding: 50px 0;
  text-align: center;
}

@media (max-width: 820px) {
  .dobrodosli-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .dobrodosli-main h1 {
    font-size: 2rem;
  }

  .dobrodosli-main h2 {
    font-size: 1.5rem;
  }

  .dobrodosli-main p {
    font-size: 1rem;
  }

  .dobrodosli-main {
    padding: 15px 10px;
  }

  .info-cont-linija2 {
    display: none;
    clear: both;
  }

  .djelatnici-naslov-linija {
    display: none;
    clear: both;
  }

  .djelatnici-container {
    flex-direction: column;
    padding: 50px 15px;
  }

  .djelatnici-profil {
    margin: 20px 0;
    width: 80%;
  }

  .projekti_slideshow {
    height: 300px;
    width: 100%;
  }

  .projekti_slideshow-container {
    width: 90%;
    margin: 50px auto;
    position: relative;
  }

  .projekti_slideshow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .prije {
    width: 100%;
    top: 0;
  }

  .poslije {
    top: 300px;
    width: 100%;
    top: auto;
  }

  .dobrodosli-main button {
    width: 90%;
  }
  .kontakt-link {
    width: 80%;
    padding-left: 20px;
  }
  .logo-container h1 {
    font-size: 1.5rem;
  }
  .linkovi-container {
    flex-direction: column;
    gap: 15px;
  }
}
